#productIcon{
    position: absolute;
    top: 204px;
    left: 27px;
}

#productImage{
    background-color: rgb(236, 229, 229);
    padding: 18px;
    padding-bottom: 203px;
    margin: 10px;
    -webkit-box-shadow: 0 5px 10px #aaa;
}

#productHeadline{
    position: absolute;
    top: 214px;
    left: 81px;
    font-weight: bold;
}

#productText{
    position: absolute;
    top: 257px;
    left: 27px;
    width: 220px;
    font-size: 13px;
}

#priceTag{
    position: absolute;
    top: 179px;
    left: 215px;
    z-index: 100;
    background-color: rgb(243, 218, 32);
    -webkit-box-shadow: 0 5px 10px #aaa;
    padding: 0px 0px;
    width: 15%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

#getItOnAppstore{
    position: absolute;
    top: 343px;
    left: 79px;
    width: 120px;
    opacity: 0.6;
}

#facebookUs{
    /*display: inline;*/
    /*background-color: blue;
    padding-top: 11px;
    font-weight: bold;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(250, 250, 250);
    width: 150px;
    margin: 15px;
    */
    margin-left: 20px;
    /*-webkit-box-shadow: 0 5px 10px #aaa;*/
    color: white;
}

.butonClass:active {
    margin-top: 2px;
    
}
.butonClass:hover{
    cursor:pointer;
}


.main wrapper clearfix{
    margin: 0 5%;
}

